{% extends "layout.html" %}
{% block content %}

{% include 'layout.topbar.twig' %}

<div class="body--with-sidebar">
    {% include 'layout.sidebar.twig' %}
    <main class="triplezone-main-content" data-category-type="no-description">

        <div class="category__header">
            <h3>{{ __('Login') }}</h3>          
        </div>

        <div class="triplezone-body-description" style="border-radius: 0 0 5px 5px">
            <p class="body__description--title">{{ __("Please enter your username to continue") }}</p>
            {{ loginform|raw }}
        </div>
    </main>
</div>
{% endblock %}